$color-primary:             #55c57a; // Light green
$color-primary-light:       #7ed56f; // Medium green
$color-primary-dark:        #28b485; // Dark green
$color-gray-dark:           #777;
$color-white:               #fff;
$color-black:               #000;
